version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: noahklaassen/deployment-app:dev
    volumes:
      - ./:/var/www/html
    ports:
      - "9000:9000"
    environment:
      APP_ENV: local
      APP_DEBUG: 'true'
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
    command: php-fpm
