version: "3.8"
services:
  app:
    image: noahklaassen/deployment-app:latest
    container_name: deployment_app
    restart: always
    environment:
      APP_ENV: production
      APP_DEBUG: 'false'
      APP_KEY: ${APP_KEY}
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
    volumes:
      - ./:/var/www/html
    ports:
      - "80:9000"
